<div class="container-fluid h-100 pt-3">
  <div class="row">
    <div class="col-md-1 sidebar">
      <app-web-navbar></app-web-navbar>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <app-wallet-bar></app-wallet-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <app-tracker></app-tracker>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <app-expenses></app-expenses>
          </div>
      </div>
    </div>
  </div>
</div>