<div class="container my-3">
    <div class="row text-center mb-1">
        <h5>Dec</h5>
    </div>
    <canvas id="tracker" width="300" height="300"></canvas>
</div>
<!-- <div class="container">
    <div class="row legend scroll-wrapper rounded-5 p-2 justify-content-start">
        <div class="col-auto legend-item">
            <div class="legend-dot rounded-circle" style="background-color: red;"></div>
            <div class="legend-text">Food & Beverages</div>
        </div>
        <div class="col-auto legend-item">
            <div class="legend-dot rounded-circle" style="background-color: red;"></div>
            <div class="legend-text">Entertainment</div>
        </div>
        <div class="col-auto legend-item">
            <div class="legend-dot rounded-circle" style="background-color: red;"></div>
            <div class="legend-text">Medical</div>
        </div>
        <div class="col-auto legend-item">
            <div class="legend-dot rounded-circle" style="background-color: red;"></div>
            <div class="legend-text">Other</div>
        </div>
    </div>
</div> -->
